@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

// Fonts
$inter: "Inter", sans-serif;

// Font size
$font-12: 12px;
$font-14: 14px;
$font-16: 16px;
$font-18: 18px;
$font-24: 24px;
$font-28: 28px;

// Font weight
$fw-400: 400px;
$fw-500: 500px;
$fw-600: 600px;

// Color
$bg: #131319;
$inputBorderColor: #35373B;
$containerBg: #27292D;
$primary: #4A96FF;
$mainFontColor: #fff;
$secondaryFontColor: #6B6C70;
$logoColor: #C5C7CA;
$feedCardColorBg: #191920;
$feedCardTextColor: #7F8084;

$borderColor1: #969696;
$borderColor2: #343434;

// Spacing
$spacing-4: 4px;
$spacing-8: 8px;
$spacing-10: 10px;
$spacing-12: 12px;
$spacing-16: 16px;
$spacing-20: 20px;
$spacing-24: 24px;
$spacing-32: 32px;
$spacing-40: 40px;

