@import "./../styles/variables";

.feed {

  &__helloText {
    font-size: $font-28;
    color: $logoColor;
  }

  &__introText {
    color: $feedCardTextColor;
    margin-top: $spacing-12;
    font-size: $font-16;
    line-height: 24px;
    width: 60vw;
    max-width: 60vw;
  }

  .createPost {
    margin-top: 40px;
    width: 60vw;
    max-width: 60vw;
    background: $containerBg;
    border: 2px solid $inputBorderColor;
    padding: 20px;
    border-radius: 8px;
    cursor: pointer;

    &__animateIn {
      animation: reduceHeight 0.5s ease forwards;

      @keyframes reduceHeight {
        0% {
          height: 221px;
        }
        100% {
          height: 215px;
        }
      }
    }

    &__animateOut {
      animation: increaseHeight 0.5s ease forwards;

      @keyframes increaseHeight {
        0% {
          height: 215px;
        }
        100% {
          height: 221px;
        }
      }
    }

    &__text {
      font-size: $font-18;
      color: $logoColor;
      font-weight: $fw-500;
      margin-bottom: $spacing-16;
    }

    &__inputTextArea {
      display: flex;
      justify-content: flex-start;
      align-items: center;
      background: $feedCardColorBg;
      padding: $spacing-16;
      border-radius: 8px;
      margin-bottom: $spacing-16;

      &__iconBubble {
        width: 48px;
        height: 48px;
        border-radius: 50%;
        background: $containerBg;
        position: relative;

        div {
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
        }
      }

      &__placeholder {
        margin-left: $spacing-16;
        color: $feedCardTextColor;
        font-weight: $fw-400;
        font-size: $font-16;
      }
    }
  }
}
