@import './../styles/variables';

.feedCard {
  margin-top: 40px;
  width: 700px;
  background: $containerBg;
  border: 2px solid $inputBorderColor;
  padding: 20px;
  border-radius: 8px;

  &__user {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: $spacing-20;

    &__info {
      display: flex;
      justify-content: flex-start;
      align-items: center;
      &__img {
        font-size: 50px;
        margin-right: $spacing-16;
      }

      &__name {
        font-size: $font-16;
        color: $logoColor;
        margin-bottom: $spacing-4;
      }

      &__minutes {
        color: $feedCardTextColor;
        font-size: $font-14;
      }

    }


  }

  &__textArea {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    background: $feedCardColorBg;
    padding: $spacing-16;
    border-radius: 8px;
    margin-bottom: $spacing-16;

    &__iconBubble {
      width: 48px;
      height: 48px;
      border-radius: 50%;
      background: $containerBg;
      position: relative;

      div {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
      }
    }

    &__text {
      margin-left: $spacing-16;
      color: $feedCardTextColor;
      font-weight: $fw-400;
      font-size: $font-16;
      width: 85%;
      line-height: 24px;
    }
  }

  &__comments {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    color: $feedCardTextColor;
    margin-left: 5px;

    &__icon {
      color: $logoColor;
    }
  }
}
