@import './../styles/variables';

.container {
   width: 100%;
   display: flex;
   justify-content: flex-end;

   &__button {
     background: $primary;
     padding: $spacing-12;
     color: $mainFontColor;
     width: 100%;
     font-size: $font-16;
     line-height: 19.36px;
     font-weight: $fw-500;
     border: none;
     border-radius: 4px;
     cursor: pointer;
   }
}
