@import './../styles/variables';

// Reference for a linear-gradient border: https://stackoverflow.com/questions/5706963/possible-to-use-border-radius-together-with-a-border-image-which-has-a-gradient
.card__borderContainer {
  border: 2px solid transparent;
  border-radius: 8px;
  background-image: linear-gradient($containerBg, $containerBg),
  linear-gradient(135deg, $borderColor1, $borderColor2);
  background-origin: border-box;
  background-clip: content-box, border-box, padding-box;
}

.card {
  padding: $spacing-40 $spacing-24;
  text-align: center;
  width: 60vw;

  &__animateIn {
    opacity: 1;
    animation: fadeIn 0.5s linear;

    @keyframes fadeIn {
      0% { opacity: 0 }
      100% { opacity: 1 }
    }
  }

  &__animateOut {
    //opacity: 1;
    animation: fadeOut 2s linear;

    @keyframes fadeOut {
      from { opacity: 1; }
      to { opacity: 0; }
    }
  }

  @media screen and (max-width: 600px) {
    width: 80vw;
  }
  @media only screen and (min-width: 768px) and (max-width: 991px) {
    width: 50vw;
  }

  @media only screen and (min-width: 992px) and (max-width: 1199px) {
    width: 40vw;
  }

  @media screen and (min-width: 1200px) {
    width: 30vw;
  }

  .welcomeText {
    color: $secondaryFontColor;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    margin-bottom: $spacing-8;
    font-size: $font-14;
  }

  .loginText {
    font-weight: $fw-600;
    font-size: $font-18;
    margin-bottom: 45px;
  }

  a {
    text-decoration: none;
  }

  .registerText {
    text-align: left;
    font-size: $font-14;
    font-weight: $fw-500;
    color: $logoColor;
    margin-top: $spacing-12;
    display: flex;

    a {
      margin-left: 4px;
      text-decoration: none;
      color: $mainFontColor;
      cursor: pointer;
      display: flex;
      align-items: center;
    }
  }

  &__closeModal {
    position: absolute;
    top: 30px;
    right: 20px;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    padding: 7px;
    background: #131319;
    cursor: pointer;
  }
}
