@import './../styles/variables';

.card__borderContainer {
  border: 2px solid transparent;
  border-radius: 8px;
  background-image: linear-gradient($containerBg, $containerBg),
  linear-gradient(135deg, $borderColor1, $borderColor2);
  background-origin: border-box;
  background-clip: content-box, border-box, padding-box;
}

.card {
  padding: $spacing-40 $spacing-24;
  text-align: center;
  width: 415px;

  .welcomeText {
    color: $secondaryFontColor;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    margin-bottom: $spacing-8;
    font-size: $font-14;
  }

  .loginText {
    font-weight: $fw-600;
    font-size: $font-18;
    margin-bottom: 45px;
  }

  .registerText {
    text-align: left;
    font-size: $font-14;
    font-weight: $fw-500;
    color: $logoColor;
    margin-top: $spacing-12;
    display: flex;

    a {
      margin-left: 4px;
      text-decoration: none;
      color: $mainFontColor;
      cursor: pointer;
      display: flex;
      align-items: center;
    }
  }

}
