@import './../styles/variables.scss';

body.active-modal {
    overflow-y: hidden;
}

.btn-modal {
    padding: 10px 20px;
    display: block;
    margin: 100px auto 0;
    font-size: 18px;
}

.overlay {
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    position: fixed;
}

.overlay {
    /*background: rgba(49,49,49,0.8);*/
    background: rgba(0,0,0,0.5);
    backdrop-filter: blur(3px);
}
.modal-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    /*line-height: 1.4;*/
    /*background: #27292D;*/
    /*border-radius: 3px;*/
    /*max-width: 600px;*/
    /*min-width: 300px;*/
}

.close-modal {
    position: absolute;
    top: 30px;
    right: 20px;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    padding: 7px;
    background: #131319;
    cursor: pointer;
}
